<!--<app-example1></app-example1>-->
<div>
  <h2>Creation rxjs operators</h2>
<!--  <app-of></app-of>-->
<!--  <app-from></app-from>-->
<!--  <app-ajax></app-ajax>-->
</div>
<div>
  <h2>Combination rxjs operators</h2>
<!--  <app-zip></app-zip>-->
<!--  <app-fork-join></app-fork-join>-->
<!--  <app-combine-latest></app-combine-latest>-->
<!--  <app-concat></app-concat>-->
<!--  <app-merge></app-merge>-->
<!--  <app-start-with></app-start-with>-->
</div>
<div>
  <h2>Transformation rxjs operators</h2>
<!--  <app-switch-map></app-switch-map>-->
<!--  <app-merge-map></app-merge-map>-->
<!--  <app-concat-map></app-concat-map>-->
<!--  <app-exhaust-map></app-exhaust-map>-->
<!--  <app-map></app-map>-->
<!--  <app-scan></app-scan>-->
<!--  <app-pluck></app-pluck>-->
<!--  <app-buffer-time></app-buffer-time>-->
</div>
<div>
  <h2>Multicasting rxjs operators</h2>
  <app-share></app-share>
  <app-share-replay></app-share-replay>
</div>
